<!DOCTYPE html>
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ theme_style }}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    
    {% include footer.html %}
    <script type="text/javascript" src="/assets/scrollMonitor.js?{{site.time}}" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/bundle.js?{{site.time}}" charset="utf-8"></script>

  </body>

</html>
