<div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">

    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Contact</h6>
    <div class="view overlay mb-3 z-depth-1">
        <ul class="list-unstyled m-0">   
        <li><a href="https://solarinnovations.com/Contact/">Contact Us</a></li>
        <!-- <li><a href="/info/contact">Contact Us</a></li> -->
        <li class="py-3">
            Call<br>
            <a href="tel:1-800-618-0669">1-800-618-0669</a><br>
            <a href="tel:1-570-915-1500">1-570-915-1500</a> 
        </li>
        <li class="pb-3">
            Fax<br>
            <span class="fax-number" style="color:#428e42">
                800-618-0743
            </span>
            </li>
        <li>                  
            Address<br>
            <address style="color:#c6c6c6; font-size: 85%" class="mb-0">
            <a href="https://goo.gl/maps/a13mMk1dyg52" target="_blank">31 Roberts Road<br>Pine Grove, Pennsylvania 17963</a>
            </address>
        </li>
        </ul>
    </div>

</div>