<div class="row mx-md-4 mx-0 justify-content-center">
    <div class="col-6 col-md-2 col-xl-2 sub-menu my-xl-2  mt-5 mb-4 border-right text-right">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">About Solar</h6>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li><a class="menu-item" href="">Our Story</a></li>
            <li><a class="menu-item" href="">History</a></li>
            <li><a class="menu-item" href="">Campus</a></li>
        </ul>
        </div>
        <div class="col-6 col-md-3 col-xl-2 sub-menu my-xl-2 mt-md-5 mt-4 mb-4 border-left">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Why Choose Us?</h6>
        <!--Featured image-->
        <div class="view overlay mb-3 z-depth-1">
            <img src="http://via.placeholder.com/350x250" class="img-fluid" alt="First sample image">
            <div class="mask rgba-white-slight flex-center">
            <p></p>
            </div>
        </div>
        </div>
        <div class="col-6 col-md-3 col-xl-2 sub-menu my-xl-2 mt-md-5 mt-4 mb-4">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Core Values</h6>
        <!--Featured image-->
        <div class="view overlay mb-3 z-depth-1">
            <img src="http://via.placeholder.com/350x250" class="img-fluid" alt="First sample image">
            <div class="mask rgba-white-slight flex-center">
            <p></p>
            </div>
        </div>
        </div>
        <div class="col-6 col-md-3 col-xl-2 offset-md-2 offset-xl-0 sub-menu my-xl-2 mt-md-5 mt-4 mb-4">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Green Inititive</h6>
        <!--Featured image-->
        <div class="view overlay mb-3 z-depth-1">
            <img src="http://via.placeholder.com/350x250" class="img-fluid" alt="First sample image">
            <div class="mask rgba-white-slight flex-center">
            <p></p>
            </div>
        </div>
        </div>
        <div class="col-6 col-md-3 col-xl-2 sub-menu my-xl-2 mt-md-5 mt-4 mb-4">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Solar Cares</h6>
        <!--Featured image-->
        <div class="view overlay mb-3 z-depth-1">
            <img src="http://via.placeholder.com/350x250" class="img-fluid" alt="First sample image">
            <div class="mask rgba-white-slight flex-center">
            <p></p>
            </div>
        </div>
    </div>
</div>
