<div class="row mx-md-4 mx-1 justify-content-center">
    <div class="col-md-6 col-xl-4 sub-menu my-xl-2 mt-md-5 mt-4 mb-4">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Blog</h6>
        <div class="view overlay mb-3 z-depth-1">
            <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
            <div class="mask rgba-white-slight flex-center">
            <p class="my-1">
                <strong class="black-text text-uppercase">Is It Time To Replace Your Old Skylights Or Glass Structures</strong>
            </p>
            <div class="d-flex justify-content-between">

                <p class="text-left my-2 w-50">
                May 31, 2018
                </p>
                <p class="text-right my-2 w-50">
                Erin Collins
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-5 sub-menu my-xl-2 mt-5 mb-4  text-left border-right">
    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Recent Blogs</h6>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li class="pb-1"><a class="menu-item" href="">How To Make Your Home A Staycation Getaway With Solar Innovations</a></li>
        <li class="pb-1"><a class="menu-item" href="">6 Reasons To Grow Your Own Produce This Summer</a></li>
        <li class="pb-1"><a class="menu-item" href="">Why You Should Be Insulating Your Glass Structure With Lowe Coating</a></li>
        <li class="pb-1"><a class="menu-item" href="">7 Easy Switches To Go Green And Save Green</a></li>
        <li class="pb-1"><a class="menu-item" href="">Why You Should Use Solar S G3 Wall Systems In Your Next Project</a></li>
        <li class="pb-1"><a class="menu-item" href="">Solar Innovations Raises Over 4 000 For Local Firefighters</a></li>
        <li class="pb-1"><a class="menu-item" href="">Solar To Plant 500 Trees With Local Community For Arbor Day</a></li>
        <li class="pb-1"><a class="menu-item" href="">3 Ways To Reduce Energy Consumption In Your Home</a></li>
        <li class="pb-1 text-right"><a class="menu-item" href="">more...</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-xl-2 sub-menu my-xl-2 mt-5 mb-4  text-left border-left">
    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Categories</h6>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item" href="">Sustainability</a></li>
        <li><a class="menu-item" href="">Tips &amp; Tricks</a></li>
        <li><a class="menu-item" href="">Gardening</a></li>
        <li><a class="menu-item" href="">Greenhouses</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
        <li><a class="menu-item" href="">Doors</a></li>
        <li><a class="menu-item" href="">Windows</a></li>
        <li><a class="menu-item" href="">Accessories</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-xl-4 sub-menu my-xl-2 mt-md-5 mt-4 mb-4">
    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Press Releases</h6>
    <div class="view overlay mb-3 z-depth-1">
        <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
        <div class="mask rgba-white-slight flex-center">
        <p class="my-1">
            <strong class="black-text text-uppercase">Solar Innovations Expands Patent Count With Quick Release Cladding System</strong>
        </p>
        <div class="d-flex justify-content-between">

            <p class="text-left my-2 w-50">
            June 6, 2018
            </p>
            <p class="text-right my-2 w-50">
            Erin Collins
            </p>
        </div>

        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-5 sub-menu my-xl-2 mt-5 mb-4  text-left border-right">
    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Recent Press Releases</h6>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li class="pb-1"><a class="menu-item" href="">How To Make Your Home A Staycation Getaway With Solar Innovations</a></li>
        <li class="pb-1"><a class="menu-item" href="">6 Reasons To Grow Your Own Produce This Summer</a></li>
        <li class="pb-1"><a class="menu-item" href="">Why You Should Be Insulating Your Glass Structure With Lowe Coating</a></li>
        <li class="pb-1"><a class="menu-item" href="">7 Easy Switches To Go Green And Save Green</a></li>
        <li class="pb-1"><a class="menu-item" href="">Why You Should Use Solar S G3 Wall Systems In Your Next Project</a></li>
        <li class="pb-1"><a class="menu-item" href="">Solar Innovations Raises Over 4 000 For Local Firefighters</a></li>
        <li class="pb-1"><a class="menu-item" href="">Solar To Plant 500 Trees With Local Community For Arbor Day</a></li>
        <li class="pb-1"><a class="menu-item" href="">3 Ways To Reduce Energy Consumption In Your Home</a></li>
        <li class="pb-1 text-right"><a class="menu-item" href="">more...</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-xl-2 sub-menu my-xl-2 mt-5 mb-4  text-left border-left">
    <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Categories</h6>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item" href="">Sustainability</a></li>
        <li><a class="menu-item" href="">Tips &amp; Tricks</a></li>
        <li><a class="menu-item" href="">Gardening</a></li>
        <li><a class="menu-item" href="">Greenhouses</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
        <li><a class="menu-item" href="">Doors</a></li>
        <li><a class="menu-item" href="">Windows</a></li>
        <li><a class="menu-item" href="">Accessories</a></li>
    </ul>
    </div>
</div>