
<div class="row mx-md-4 mx-1 justify-content-around mb-4">
    {% if include.location!="footer" %}
    <div class="col-12 text-right mb-3">
        <button onclick="location.href='https://solarinnovations.com/our-products/'" class="btn btn-success ">Our Products</button>
    </div>
    {% endif %}
    <div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="https://solarinnovations.com/our-products/doors-windows/">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Doors</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/folding-glass-walls/">Folding Glass Walls</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/stacking-glass-walls/">Slide &amp; Stack Glass Walls</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/clear-glass-walls/">Clear Glass Walls</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/sliding-glass-doors/">Sliding Glass Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/lift-slide-doors/">Lift Slide Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/swing-doors/">Swing Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-doors/pivot-doors/">Pivot Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/vinyl-doors/vinyl-composite-sliding-glass-doors/">Vinyl Sliding Glass Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/vinyl-doors/vinyl-composite-terrace-doors-and-french-doors/">Vinyl Swing Doors</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/curtain-wall/">Aluminum Curtain Wall</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/wood-structures/timber-walls/">Wood Curtain Walls</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="https://solarinnovations.com/our-products/doors-windows/">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Windows</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/tilt-turn/">Tilt Turn Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/awning-windows/">Awning Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/casement-windows/">Casement Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/hopper-windows/">Hopper Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/folding-windows/">Folding Glass Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/stacking-windows/">Stacking Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/vinyl-windows/vinyl-composite-window-systems/">Vinyl-Composite Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/garden-windows/">Garden Windows</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-windows/butt-joint-glazed-windows/">Butt Joint Windows</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Glass Structures</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/products/greenhouses/">Greenhouses</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/products/conservatories/">Conservatories</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/wood-structures/wood-conservatories/">Wood Conservatories</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/sunrooms/">Sunrooms</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/wood-structures/wood-sunrooms/">Wood Sunrooms</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/canopies/">Canopies</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/pool-and-spa-enclosures/">Pool Enclosures</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/pool-houses/">Pool Houses</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/car-washes/">Carwashes</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-structures/walkways/">Walkways</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Skylights</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/fixed-skylights/">Fixed</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/operable-skylights/">Operable</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/90-degree-operable-skylights/">90° Operable</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/retractable-skylights/">Retractable</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/curb-mount/">Curb Mount</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/walkable-skylights/">Walkable</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/roof-lanterns/">Roof Lanterns</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/aluminum-skylights/operable-skylights/venting-skylights/">Venting</a></li>
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/wood-fixed-skylights/">Wood Skylights</a></li>
        </ul>
    </div>
    {% if include.location!="footer" %}    
    <div class="col-md-4 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Other Products</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="https://solarinnovations.com/our-products/additional-products/glass-railings/">Glass Railings</a></li>
            <li class="pb-1"><a class="menu-item" href="">Ornamental Palm Trees</a></li>
            <li class="pb-1"><a class="menu-item" href="">Pet Products</a></li>
            <li class="pb-1"><a class="menu-item" href="">IRT Reels</a></li>
            <li class="pb-1"><a class="menu-item" href="">Universal Clamps</a></li>
        </ul>
    </div>
    {% else %}
    {% include navbar/__contact.html %}
    {% endif %}
</div>

{% if include.location!="footer" %}
<div class="row mx-md-4 mx-1 justify-content-center">
    <a href="#">
    <h5>Accessories</h5>
    </a>
</div>
<div class="row mx-md-4 mx-1 justify-content-around">
    <div class="col-md-5 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Structure Systems  </h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item mb-0" href="">Benches</a></li>
            <li class="pb-1"><a class="menu-item" href="">Control Systems</a></li>
            <li class="pb-1"><a class="menu-item" href="">Evaporative Coolers</a></li>
            <li class="pb-1"><a class="menu-item" href="">Grow Lights</a></li>
            <li class="pb-1"><a class="menu-item" href="">Foggers</a></li>
            <li class="pb-1"><a class="menu-item" href="">Ventilation</a></li>
            <li class="pb-1"><a class="menu-item" href="">Circulation Fans</a></li>
            <li class="pb-1"><a class="menu-item" href="">Heaters</a></li>
            <li class="pb-1"><a class="menu-item" href="">Plant Hangers</a></li>
            <li class="pb-1"><a class="menu-item" href="">Shelving</a></li>
            <li class="pb-1"><a class="menu-item" href="">Water Systems</a></li>
        </ul>
    </div>
    <div class="col-md-5 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Decorative Elements</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="">Appliqués</a></li>
            <li class="pb-1"><a class="menu-item" href="">Base Panels</a></li>
            <li class="pb-1"><a class="menu-item" href="">Corner Posts</a></li>
            <li class="pb-1"><a class="menu-item" href="">Eave Spandrels</a></li>
            <li class="pb-1"><a class="menu-item" href="">Finials</a></li>
            <li class="pb-1"><a class="menu-item" href="">Gable Pediments</a></li>
            <li class="pb-1"><a class="menu-item" href="">Gutters</a></li>
            <li class="pb-1"><a class="menu-item" href="">Ridge Cresting</a></li>
            <li class="pb-1"><a class="menu-item" href="">Ring &amp; Collars</a></li>
            <li class="pb-1"><a class="menu-item" href="">SDLS, Grids, &amp; Muntins</a></li>
            <li class="pb-1"><a class="menu-item" href="">Trim</a></li>
            <li class="pb-1"><a class="menu-item" href="">Transom Grids</a></li>
        </ul>
    </div>
    <div class="col-md-5 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Shade Systems </h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="">Pinoleum Blinds</a></li>
            <li class="pb-1"><a class="menu-item" href="">Solar R Blinds</a></li>
            <li class="pb-1"><a class="menu-item" href="">Roman Fold Shades</a></li>
            <li class="pb-1"><a class="menu-item" href="">Horizontal Shades</a></li>
            <li class="pb-1"><a class="menu-item" href="">Pleated Shades</a></li>
            <li class="pb-1"><a class="menu-item" href="">Roll Up Shades</a></li>
            <li class="pb-1"><a class="menu-item" href="">L Series Shades</a></li>
        </ul>
    </div>
    <div class="col-md-5 col-xl-2 sub-menu my-xl-2 my-2">
        <a href="#">
            <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Screen Systems</h6>
        </a>
        <ul class="list-unstyled p-0 m-0 pl-0">
            <li class="pb-1"><a class="menu-item" href="">Sliding Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Folding Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Swinging Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Fixed Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Horizontal Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Vertical Screens</a></li>
            <li class="pb-1"><a class="menu-item" href="">Screen Rooms</a></li>
        </ul>
    </div>
</div>
{% endif %}