

<div class="row mx-md-4 mx-1">
    <div class="col-sm-6 col-md-3 col-lg-3 sub-menu my-2">
    <a href="#">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Restoration</h6>
    </a>
    <!--Featured image-->
    <div class="view overlay mb-3 z-depth-1">
        <a href="#">
        <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
        </a>
        <div class="mask rgba-white-slight flex-center">
        <!-- <p></p> -->
        </div>
    </div>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item mb-0" href="">Doors &amp; Windows</a></li>
        <li><a class="menu-item" href="">Glass Structures</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 sub-menu my-2">
    <a href="#">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Replacement</h6>
    </a>
    <!--Featured image-->
    <div class="view overlay mb-3 z-depth-1">
        <a href="#">
        <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
        </a>
        <div class="mask rgba-white-slight flex-center">
        <!-- <p></p> -->
        </div>
    </div>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item mb-0" href="">Doors &amp; Windows</a></li>
        <li><a class="menu-item" href="">Glass Structures</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 sub-menu my-2">
    <a href="#">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Design</h6>
    </a>
    <!--Featured image-->
    <div class="view overlay mb-3 z-depth-1">
        <a href="#">
        <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
        </a>
        <div class="mask rgba-white-slight flex-center">
        <!-- <p></p> -->
        </div> 
    </div>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item mb-0" href="">Doors &amp; Windows</a></li>
        <li><a class="menu-item" href="">Glass Structures</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 sub-menu my-2">
    <a href="#">
        <h6 class="sub-title text-uppercase font-weight-bold black-text border-bottom">Installation</h6>
    </a>
    <!--Featured image-->
    <div class="view overlay mb-3 z-depth-1">
        <a href="#">
        <img src="http://via.placeholder.com/550x400" class="img-fluid" alt="First sample image">
        </a>
    </div>
    <ul class="list-unstyled p-0 m-0 pl-0">
        <li><a class="menu-item mb-0" href="">Doors &amp; Windows</a></li>
        <li><a class="menu-item" href="">Glass Structures</a></li>
        <li><a class="menu-item" href="">Skylights</a></li>
    </ul>
    </div>
</div>